.cabeçalho{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: black;
	padding: 15px;
	
}
.divcabeçalho{
	position: relative;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	align-items: center;
}
nav{
	position: static;
    text-align: center;
	top: 0px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 20px;
}

nav a {
	text-transform: uppercase;
	color: #DAA520;
	font-weight: bold;
	font-size: 28px;
	text-decoration: none;

}

nav a:hover { /* Altera o comportamento do elemento qnd o mouse está por cima*/
	color: #ffffff;
	text-decoration: underline;
}
