.cabeçalho{
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* background-color: black; */
	background-color: #44475a;
	padding: 15px;
	box-shadow: 1px 1px 2px 1px rgba(161, 161, 161, 0.5);

	
}

html{
	background-color: #282a36;

}
.divcabeçalho{
	position: relative;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	align-items: center;
	
}
nav{
	position: static;
    text-align: center;
	top: 0px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 75px;
}

nav a {
	text-transform: uppercase;
	color: #f1fa8c;
	font-weight: bold;
	font-size: 28px;
	text-decoration: none;
	padding: 5px;
}

nav a:hover { /* Altera o comportamento do elemento qnd o mouse está por cima*/
	color: #ff79c6;
	text-decoration: underline;

}

.fotodescrição{
	display: flex;
	justify-content: center;
	padding: 25px;
	font-family: monospace;
	font-size: 15px;
	margin: 25px 15% ;
	align-items: center;
	color: #8be9fd;
}

.descrição{
	margin: 15px 15px;
}

.foto{
	border-radius: 180px;
	height: 300px;
	margin: 0 35px;
}


#nome{
	padding: 10px;
	color: #8be9fd;
	text-align: center;
	font-size: 40px;
	font-family: monospace;
	margin-top: 25px;
}

.gallery-img {
	width: 150px;
	height: 150px;
	/* border: red 2px solid; */
}

.images {
	margin: 10px auto 10px auto;
	box-sizing: border-box;
	font-family: 'Ubuntu';
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-direction: row;
	flex-wrap: wrap;
	width: 45%;

}

.box-skills {
	align-items: center;
	border-radius: 15px;
	box-shadow: 1px 1px 5px 4px rgba(161, 161, 161, 0.5);
	display: flex;
	flex-direction: column;
	height: 220px;
	justify-content: center;
	margin: 0 10px 15px 0;
	width: 180px;
	color: #f1fa8c;
	background:
    linear-gradient(
      to right,
      rgba(100, 200, 200, 1),
      rgba(100, 200, 200, 1)
    ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
  );
	background-size: 100% 8px, 0 10px;
	background-position: 100% 100%, 0 100%;
	background-repeat: no-repeat;
	transition: background-size 450ms;
	margin-left: 10px;
}
.box-skills:hover{
	color: #ff79c6;
	background-size: 0 8px, 100% 8px;

}


#text-skills{
	text-align: center;
	font-size: 1.5rem;
	color: #8be9fd;

}

h4{
	margin-bottom: 15px;
}